<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <style>
        body{
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        :root{
            --small-padding: 5px;
            --medium-padding: 10px;
            --margin-top: 10px;
            --border-radius: 5px;
        }
        .container{
            width: 900px;
            max-width: 100%;
            margin-top: 15px;
        }
        #wrapper{
            display: grid;
            grid-template-columns: 2fr 3fr;
        }
        .card{
            padding: var(--medium-padding);
            width: 800px;
            max-width: 90%;
            margin: 20px auto;
            box-shadow: 1px 1px 8px 2px rgb(216, 212, 212);
            border-radius: 5px;
        }
        nav{
            background-color: rgb(28, 28, 55);
            padding: var(--medium-padding);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        nav a{
            color: white;
            text-decoration: none;
        }
        header{
            text-decoration: none;
            color: white;
            font-size: 25px;
            font-weight: bold;
        }

        .right-nav a{
            margin-right: 12px;
        }
        .card a{
            text-decoration: none;
            color: white;
            height: 20px;
            padding: var(--small-padding);
            background-color: rgb(28, 28, 55);
            font-size: 13px;
            border-radius: var(--border-radius);
            margin-left: 13px;
            margin-top: 5px;
        }
        #head{
            display: flex;
            justify-content: space-between;
            /* border: 1px solid black;  */
            height: fit-content;
            margin-top: -10px;
        }
        .title{
            font-size: bolder;
            font-weight: 550;
            font-size: 25px;
            margin-top: -0.03px;

        }
        .body{
            margin-top: -12px;
            font-size: 17px;
            margin-left: 13px;
        }
        .time{
            font-size: 12px;
        }
        .test a{
            padding: var(--medium-padding);
            border-radius: var(--border-radius);
            width: 30px;
            text-decoration: none;
            color: white;
            background-color: rgb(28, 28, 55);
        }
        .test{
            display: grid;
            grid-template-columns: 2fr 1fr 0.1fr;
            padding: var(--medium-padding);
            /* border: 1px solid red; */
            gap: 20px;

        }
        .btn{
            padding: var(--medium-padding);
            background-color: rgb(28, 28, 55);
            color: white;
            border: none;
            border: var(--border-radius);
            width: 20%;
            font-size: 17px;
            cursor: pointer;
        }
        .searchbox{
            border: 1px solid rgb(121, 117, 117);
            padding: var(--medium-padding);
            border-radius: var(--border-radius);
            width: 90%;
        }
        article{
            height: 500px;
        }
        
        @media (max-width: 750px) {
            #head{
                display: flex;
                flex-direction: column;
            }
            .card a{
                width: 20%;
                margin-left: 70%;
                font-size: 10px;
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <nav>
        <header><a href=""> Blogg</a></header>

        <% if(!loggedIn || loggedIn === "undefined"){ %>
            <div class="right-nav">
                <a href="/blogapi/auth/login" >Login</a>
                <a href="/blogapi/signup" >SignUp</a>
                <a href="/blogapi/blog/compose" >Create</a>
            </div> 
        <% } %>
    </nav>
    <div class="test">
        <input type="text" name="search" class="searchbox">
        <button type="submit" class="btn" >Search</button>
        <% if(loggedIn){ %>
            <p><a href="/blogapi/blog/compose" >Create</a></p>
        <% } %>
    </div>
    
        <!-- <div class="welcome">
            
        </div>
        
    -->

    <main id="wrapper">
        <section>
            <% blogs.forEach(blog => {  %>
                <div class="container">
                    <div class="card">
                        
                        <p class="title"><%= blog.title %></p>
                        <p class="body"><%= blog.body.slice(0, 99) %>......</p>
                        
                        <div id="head">
                            <a href="/blog/<%= blog._id %>">Read Post</a>
                            <p class="time">published at: <%= blog.timestamp.createdAt %></p>
                        </div>
                        
                    </div>
            
                </div> 
            <% }) %>
        
        </section>

        <article>

        </article>
    </main>
     

</body>
</html> 