<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        body{
            padding: 0;
            margin: 0;
        }
        :root{
            --full-width: 100%;
            --half-width: 50%;
            --margin-auto: 0 auto;
            --color: rgb(28, 28, 55);;
            --medium-padding: 10px;
            --small-padding: 7px;
            --border-radius: 5px;
            --font-size: 1.3em;
            --white: white;
        }
        .container{
            max-width: var(--full-width);
            width: 1200px;
            margin: var(--margin-auto);
        }
        .card{
            width: 30%;
            margin: 100px auto;
            padding: 10px 40px;
        }
        h1{
            text-align: center;
            color: var(--color);
        }
        .label-group{
            width: var(--full-width);
            margin: 20px auto;
        }

        input{
            padding: var(--medium-padding);
            border-radius: var(--border-radius);
            width: 95.5%;
        }
        input:focus{
            outline: none;
        }
        input::placeholder{
            color: lightgrey;
            font-family: cursive;
            text-align: center;
            font-size: var(--font-size);
        }
        button{
            width: var(--half-width);
            border-radius: var(--border-radius);
            padding: var(--small-padding);
            background-color: var(--color);
            color: var(--white);
            font-family: cursive;
            font-size: var(--font-size);
            border: none;
            transition: .5s;
            margin-left: 25%;
            
        }
        button:hover{
            cursor: pointer;
            background-color: rgb(21, 21, 36);;
        }
        p{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            text-decoration: none;
            color: red;
            cursor: pointer;
        }
        .error{
            background-color: rgb(243, 193, 193);
            border-radius: var(--border-radius);
            color: white;
            font-size: 20px;
            padding: 5px;
        }

        @media (max-width: 750px) {
            .card{
                width:90%;
                padding: var(--medium-padding);
                margin: 50px auto;
            }
            input{
                width: 93%;
            }
        }

    </style>
</head>
<body>
    
    <div class="container">

        <form action="/blogapi/auth/login" method="post" id="login-form">
            <div class="card">
                
                <% if(typeof error !== "undefined"){ %>
                    <div class="error">
                        <p><%= error %></p>
                    </div>
                        
                <% } %>
                
                <h1>Login</h1>
                <div class="label-group">
                    <input type="text" name="username" required placeholder="username">
                </div>
                <div class="label-group">
                    <input type="password" name= "password" required placeholder="password">
                </div>
    
                <div class="label-group">
                    <button type="submit">Login</button>
                </div>
                <p>Don't have an account? <a href="/blogapi/signup">Sign up here</a></p>
            </div>
        </form>
        
    </div>
</body>
</html>