<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <style>
        body{
            padding: 0;
            margin: 0;
        }
        :root{
            --full-width: 100%;
            --half-width: 50%;
            --margin-auto: 0 auto;
            --color: steelblue;
            --medium-padding: 10px;
            --small-padding: 7px;
            --border-radius: 5px;
            --font-size: 1.3em;
            --white: white;
        }
        .container{
            max-width: var(--full-width);
            width: 1200px;
            margin: var(--margin-auto);
        }
        .card{
            width: var(--half-width);
            margin: var(--margin-auto);
            padding: 10px 40px;
        }
        h1{
            text-align: center;
            color: var(--color);
        }
        .label-group{
            width: var(--full-width);
            margin: 20px auto;
        }

        input{
            padding: var(--medium-padding);
            border-radius: var(--border-radius);
            width: 95.5%;
        }
        input:focus{
            outline: none;
        }
        input::placeholder{
            color: rgb(206, 202, 202);
            font-family: cursive;
            text-align: center;
            font-size: var(--font-size);
        }
        button{
            width: var(--full-width);
            border-radius: var(--border-radius);
            padding: var(--small-padding);
            background-color: var(--color);
            color: var(--white);
            font-family: cursive;
            font-size: var(--font-size);
            border: none;
            transition: .5s;
            
        }
        button:hover{
            cursor: pointer;
            background-color: rgb(57, 113, 158);
        }
        p{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        @media (max-width: 750px) {
            .card{
                width:90%;
                padding: var(--medium-padding);
                margin: 50px auto;
            }
            input{
                width: 93%;
            }
        }

    </style>
</head>
<body>
    
    <div class="container">
        
        <div class="card">
            <h1>Sign Up</h1>
            <div class="label-group">
                <input type="text" required placeholder="First Name">
            </div>
            <div class="label-group">
                <input type="text" required placeholder="Last Name">
            </div>
            <div class="label-group">
                <input type="text" required placeholder="Username">
            </div>
            <div class="label-group">
                <input type="email" required placeholder="Email">
            </div>
            <div class="label-group">
                <input type="text" required placeholder="Phone Number">
            </div>
            <div class="label-group">
                <input type="password" required placeholder="password">
            </div>

            <div class="label-group">
                <button type="submit">Sign Up</button>
            </div>
            <p>Already have an account? <a href="login.ejs">Login here</a></p>
        </div>
    </div>
</body>
</html>